body {
	background-color: #FFF7F5;
	font-family: 'IBM Plex Sans', sans-serif;
}


.navbar-container {
	background-color: #F9E6E2;
}

.navbar-brand {
	font-family: Comfortaa;
}

.dropdown-menu {
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
	width:600px;
}

.categories-group {
	padding:25px;
	display:inline-block;
	float:left;
	font-family: 'IBM Plex Sans';
}

.categories-header {
	font-size:20px;
	font-family: 'IBM Plex Sans', sans-serif;
}

#frst-grp {
	border-style: hidden groove hidden hidden;
	border-radius: 0px;
	margin:0px 0px 0px 12px;
}

#cart-icon {
	width:40px;
}

#login {
	display:inline-block;
}

#login-icon {
	width:40px;
}

#h2-login {
	font-family: 'Philosopher', sans-serif;
}

#login-container {
	background-color:white;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 17px;
	width:600px;
}

#login-button {
	--bs-btn-padding-y: .9rem;
	--bs-btn-padding-x: 1.5rem;
	--bs-btn-font-size: 1rem;
}

#bottom-part {
	background-color: #891E27;
}

.bottom-links {

}

.social-media-icon {
	width:25px;
}


@media screen and (max-width: 1100px) {
	.dropdown-menu {
		width:310px;
		float:none;
		transform: translate(0, 0);
		left:0;

	}
	#frst-grp {
		border-style: hidden;
		margin:0px 0px 0px 0px;
	}
}

@media screen and (max-width: 990px) {
	.dropdown-menu {
		border-style:none;
	}

	.categories-group {
		display:block;
		float:none;
	}

	#frst-grp {
		border-style: hidden;
		margin:0px 0px 0px 0px;
	}

	.left-details {
		padding:5px 0px 0px 0px;
	}

	#cart-icon {
		width:28px;
	}

	#login-icon {
		width:28px;
	}
}

@media screen and (max-width:600px) {
	#login-container {
		width:100%;
	}
}