body {
	background-color: #FFF7F5;
	font-family: 'IBM Plex Sans', sans-serif;
}


.navbar-container {
	background-color: #F9E6E2;
}

.navbar-brand {
	font-family: Comfortaa;
}

.dropdown-menu {
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
	width:600px;
}

.categories-group {
	padding:25px;
	display:inline-block;
	float:left;
	font-family: 'IBM Plex Sans';
}

.categories-header {
	font-size:20px;
	font-family: 'IBM Plex Sans', sans-serif;
}

#frst-grp {
	border-style: hidden groove hidden hidden;
	border-radius: 0px;
	margin:0px 0px 0px 12px;
}

.card {
	width: 18rem;
}

#cart-icon {
	width:40px;
}

#login {
	display:inline-block;
}

#login-icon {
	width:40px;
}

.breadcrumb {
	font-size: 17px;
}

#sort-by {
	width:130px;
	float:right;
}

#filters-cont {
	background-color: white;
	width:300px;
}

.card {
	width: 18rem;
}

.card-img-top {
	width:200px;
	padding:0px !important;
}


#bottom-part {
	background-color: #891E27;
}

.bottom-links {

}

.social-media-icon {
	width:25px;
}


@media screen and (max-width: 1100px) {
	.dropdown-menu {
		width:310px;
		float:none;
		transform: translate(0, 0);
		left:0;

	}
	#frst-grp {
		border-style: hidden;
		margin:0px 0px 0px 0px;
	}
}

@media screen and (max-width: 990px) {
	.dropdown-menu {
		border-style:none;
	}

	.categories-group {
		display:block;
		float:none;
	}

	#frst-grp {
		border-style: hidden;
		margin:0px 0px 0px 0px;
	}

	.left-details {
		padding:5px 0px 0px 0px;
	}

	#cart-icon {
		width:28px;
	}

	#login-icon {
		width:28px;
	}

	#filters-cont {
		width:100%;
	}
}

@media screen and (max-width: 890px) {
	.book-card {
		min-width:100%;
	}
	.card {
		min-width:100%;
	}
	.card-img-top {
		margin-left: 20px !important;
	}
	.card-body {
		width:auto;
		margin:0px;
	}
	.bestsellers-grid {
		width:100% !important;
	}
}