.breadcrumb {
	font-size: 17px;
}

#sort-by {
	width:130px;
	float:right;
}

#filters-cont {
	background-color: white;
	width:300px;
}

.card {
	width: 18rem;
}

.card-img-top {
	width:200px;
	padding:0px !important;
}

@media screen and (max-width: 990px) {
	#filters-cont {
		width:100%;
	}
}

@media screen and (max-width: 890px) {
	.book-card {
		min-width:100%;
	}
	.card {
		min-width:100%;
	}
	.card-img-top {
		margin-left: 20px !important;
	}
	.card-body {
		width:auto;
		margin:0px;
	}
	.bestsellers-grid {
		width:100% !important;
	}
}