#h2-sign-up {
	font-family: 'Philosopher', sans-serif;
}

#sign-up-container {
	background-color:white;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 17px;
	width:600px;
}

#sign-up-button {
	--bs-btn-padding-y: .9rem;
	--bs-btn-padding-x: 1.5rem;
	--bs-btn-font-size: 1rem;
}

@media screen and (max-width:600px) {
	#sign-up-container {
		width:100%;
	}
}