{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
	<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
	{% block head_content %}{% endblock %}
</head>

<body>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid navbar-container mt-3">
			<button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
				</svg>
			</button>
			<a class="navbar-brand mt-2 ms-5" href="{% url 'home' %}"><h1>INQSHOP</h1></a>
			<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="mx-auto my-3 w-50 search-container">
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasNavbar">Menu</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item pe-4">
							<a class="nav-link active" aria-current="page" href="#">New</a>
						</li>
						<li class="nav-item dropdown pe-4">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Categories
							</a>
							<div class="dropdown-menu mx-auto">
								<ul class="list-group categories-group" id="frst-grp">
									<p class="categories-header"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Fiction' %}">Fiction</a></p>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Comics & Graphic Novels' %}">Comics & Graphic Novels</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Historical Fiction' %}">Historical Fiction</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Horror' %}">Horror</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Mystery, Thrillers, & Crime' %}">Mystery, Thrillers, & Crime</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Poetry' %}">Poetry</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Fantasy' %}">Fantasy</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Classics' %}">Classics</a></li>
								</ul>
								<ul class="list-group list-group-flush categories-group">
									<p class="categories-header"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Non-Fiction' %}">Non-Fiction</a></p>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Arts & Photography' %}">Arts & Photography</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Biography & Memoir' %}">Biography & Memoir</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Business & Investing' %}">Business & Investing</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Cooking & Wine' %}">Cooking & Wine</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='History' %}">History</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Humor & Games' %}">Humor & Games</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Science & Technology' %}">Science & Technology</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Spirituality & Religion' %}">Spirituality & Religion</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="{% url 'search-category' category='Travel' %}">Travel</a></li>
								</ul>
							</div>
						</li>
						<li class="nav-item pe-4">
							<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
						</li>
						<li class="nav-item pe-4">
							<a class="nav-link active" aria-current="page" href="#">Special Offers</a>
						</li>
						<li class="nav-item pe-4">
							<a class="nav-link disabled">Stationery</a>
						</li>
						<li class="nav-item pe-4">
							<a class="nav-link disabled">Games & Puzzles</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="right-details">
				<a href="{% url 'account-page' %}" class="link-dark link-offset-3 me-3 mb-lg-1" id="login">
					<img id="login-icon"src="{% static 'images/account-icon.png' %}">
				</a>
				<a class="position-relative" href="{% url 'cart' %}">
					<img class="me-3 mt-lg-1" id="cart-icon" src="{% static 'images/shopping-cart-icon.png' %}">
					<span class="position-absolute top-100 start-50 translate-middle badge rounded-pill bg-primary">
						0
					</span>
				</a>
			</div>
		</div>
	</nav>

	{% block content %}{% endblock content %}

	<div class="container-fluid" id="bottom-part">
		<div class="row mx-auto mt-5 pt-5 pb-5">
			<div class="col mx-auto text-center pb-5">
				<p class="bottom-links"><a href="#" class="text-white link-offset-2">About</a></p>
				<p><a href="#" class="text-white link-offset-2">Support / Help</a></p>
				<p><a href="#" class="text-white link-offset-2">Contact</a></p>
				<p><a href="{% url 'login' %}" class="text-white link-offset-2">Sign In / Join</a></p>
				<p><a href="#" class="text-white link-offset-2">Privacy Policy</a></p>
				<p><a href="#" class="text-white link-offset-2">Terms and Conditions</a></p>
			</div>
			<div class="col mx-auto text-center">
				<p class="text-white">Folow us</p>
				<a href="#"><img class="social-media-icon me-2" src="{% static 'images/twitter-icon.png' %}"></a>
				<a href="#"><img class="social-media-icon me-2" src="{% static 'images/facebook-icon.png' %}"></a>
				<a href="#"><img class="social-media-icon me-2" src="{% static 'images/instagramm-icon.png' %}"></a>
			</div>
		</div>
	</div>


	{% block js_connect %}{% endblock js_connect %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
	
</body>
</html>