{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
	<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
	<title>INQSHOP</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid navbar-container mt-3">
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand mt-2 ms-5" href="{% url 'home' %}"><h1>INQSHOP</h1></a>
			<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="mx-auto my-3 w-50 search-container">
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
				<div class="offcanvas-header">
					<h5 class="offcanvas-title" id="offcanvasNavbar">Menu</h5>
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item pe-4">
							<a class="nav-link active" aria-current="page" href="#">New</a>
						</li>
						<li class="nav-item dropdown pe-4">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Categories
							</a>
							<div class="dropdown-menu mx-auto">
								<ul class="list-group categories-group" id="frst-grp">
									<p class="categories-header">Fiction</p>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Comics & Graphic Novels</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Historical Fiction</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Horror</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Literature & Fiction</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Manga</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Mystery, Thrillers, & Crime</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Poetry</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Fantasy</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">LGBTQ+ Fiction</a></li>
								</ul>
								<ul class="list-group list-group-flush categories-group">
									<p class="categories-header">Non-Fiction</p>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Arts & Photography</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Biography & Memoir</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Business & Investing</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Cooking & Wine</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">History</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Humor & Games</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Science & Technology</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Self Development & Hobbies</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Spirituality & Religion</a></li>
									<li class="list-group-item border-0"><a class="link-dark link-offset-2" href="#">Travel</a></li>
								</ul>
							</div>
						</li>
						<li class="nav-item pe-4">
							<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
						</li>
						<li class="nav-item pe-4">
							<a class="nav-link active" aria-current="page" href="#">Special Offers</a>
						</li>
						<li class="nav-item pe-4">
							<a class="nav-link disabled">Stationery</a>
						</li>
						<li class="nav-item pe-4">
							<a class="nav-link disabled">Games & Puzzles</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="left-details">
				<a href="{% url 'login' %}" class="link-dark link-offset-3 me-3 mb-lg-1" id="login">
					<img id="login-icon"src="{% static 'images/account-icon.png' %}">
				</a>
				<a class="position-relative" href="{% url 'cart' %}">
					<img class="me-3 mt-lg-1" id="cart-icon" src="{% static 'images/shopping-cart-icon.png' %}">
					<span class="position-absolute top-100 start-50 translate-middle badge rounded-pill bg-primary">
						0
					</span>
				</a>
			</div>
		</div>
	</nav>

	<div class="container-fluid mt-3">
		<div id="carouselExampleIndicators" class="carousel slide">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{% static 'images/ADs/ad3.png' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/ADs/ad1.png' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="{% static 'images/ADs/ad2.png' %}" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>

	<h3 class="bestsellers-h3 mt-5 position-relative"><a href="#" class="link-dark link-offset-3">Best Sellers</a></h3>
	<div class="container-fluid bestsellers-grid pt-5 w-75">
		<div class="row mx-auto">
			<div class="col">
				<div class="card mx-auto" style="width: 18rem;">
					<img src="{% static 'images/Covers/9780751565355.jpg' %}" class="card-img-top mx-auto" alt="...">
					<div class="card-body">
						<h5 class="card-title">Harry Potter and the Cursed Child - Parts I & II : The Official Script Book of the Original West End Production</h5>
						<p class="card-text">J. K. Rowling</p>
						<a href="#" class="btn btn-primary">Add to cart</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto" style="width: 18rem;">
					<img src="{% static 'images/Covers/9781471156267.jpg' %}" class="card-img-top mx-auto" alt="...">
					<div class="card-body">
						<h5 class="card-title">It Ends With Us: The most heartbreaking novel you'll ever read : The most heartbreaking novel you'll ever read</h5>
						<p class="card-text">Colleen Hoover</p>
						<a href="#" class="btn btn-primary buy-btn">Add to cart</a>
					</div>
				</div>
			</div>
			<div class="col f">
				<div class="card mx-auto" style="width: 18rem;">
					<img src="{% static 'images/Covers/9780712670579.jpg' %}" class="card-img-top mx-auto" alt="...">
					<div class="card-body">
						<h5 class="card-title">The Original Rider Waite Tarot Deck : 78 beautifully illustrated cards and instructional booklet</h5>
						<p class="card-text"> A.E. Waite , Illustrated by  Pamela Colman Smith</p>
						<a href="#" class="btn btn-primary">Add to cart</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card mx-auto" style="width: 18rem;">
					<img src="{% static 'images/Covers/123345u234y5972.png' %}" class="card-img-top mx-auto" alt="...">
					<div class="card-body">
						<h5 class="card-title">The Nap Ministry's Rest Deck: 50 Practices to Resist Grind Culture</h5>
						<p class="card-text">Tricia Hersey</p>
						<a href="#" class="btn btn-primary">Add to cart</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="bottom-part">
		<div class="row mx-auto mt-5 pt-5 pb-5">
			<div class="col mx-auto text-center pb-5">
				<p class="bottom-links"><a href="#" class="text-white link-offset-2">About</a></p>
				<p><a href="#" class="text-white link-offset-2">Support / Help</a></p>
				<p><a href="#" class="text-white link-offset-2">Contact</a></p>
				<p><a href="{% url 'login' %}" class="text-white link-offset-2">Sign In / Join</a></p>
				<p><a href="#" class="text-white link-offset-2">Privacy Policy</a></p>
				<p><a href="#" class="text-white link-offset-2">Terms and Conditions</a></p>
			</div>
			<div class="col mx-auto text-center">
				<p class="text-white">Folow us</p>
				<a href="#"><img class="social-media-icon me-2" src="{% static 'images/twitter-icon.png' %}"></a>
				<a href="#"><img class="social-media-icon me-2" src="{% static 'images/facebook-icon.png' %}"></a>
				<a href="#"><img class="social-media-icon me-2" src="{% static 'images/instagramm-icon.png' %}"></a>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>

</html>