{% extends 'base.html' %}
{% load static %}

{% block head_content %}
	<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
	<title>INQSHOP</title>
{% endblock head_content %}

{% block content %}
	<div class="container-fluid mt-3">
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="3000">
					<img src="{% static 'images/ADs/ad3.png' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item" data-bs-interval="3000">
					<img src="{% static 'images/ADs/ad1.png' %}" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item" data-bs-interval="3000">
					<img src="{% static 'images/ADs/ad2.png' %}" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>

	<h3 class="bestsellers-h3 mt-5 position-relative"><a href="#" class="link-dark link-offset-3">Best Sellers</a></h3>
	<div class="container-fluid bestsellers-grid pt-5 w-75">
		<div class="row mx-auto">
			<div class="col book-card">
				<div class="card mx-auto mb-4 border-0">
					<div class="row">
						<img src="{% static 'images/Covers/9780751565355.jpg' %}" class="card-img-top mx-auto my-2 border border-5" alt="...">
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">Harry Potter and the Cursed Child - Parts I & II : The Official Script Book of the Original West End Production</h5>
								<p class="card-text">J. K. Rowling</p>
								<a href="#" class="btn btn-primary">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col book-card">
				<div class="card mx-auto mb-4 border-0">
					<div class="row">
						<img src="{% static 'images/Covers/9781471156267.jpg' %}" class="card-img-top mx-auto my-2 border border-5" alt="...">
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">t Ends With Us: The most heartbreaking novel you'll ever read : The most heartbreaking novel you'll ever read</h5>
								<p class="card-text">Colleen Hoover</p>
								<a href="#" class="btn btn-primary">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col book-card">
				<div class="card mx-auto mb-4 border-0">
					<div class="row">
						<img src="{% static 'images/Covers/9780712670579.jpg' %}" class="card-img-top mx-auto my-2 border border-5" alt="...">
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">The Original Rider Waite Tarot Deck : 78 beautifully illustrated cards and instructional booklet</h5>
								<p class="card-text">A.E. Waite , Illustrated by  Pamela Colman Smith</p>
								<a href="#" class="btn btn-primary">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col book-card">
				<div class="card mx-auto mb-4 border-0">
					<div class="row">
						<img src="{% static 'images/Covers/123345u234y5972.png' %}" class="card-img-top mx-auto my-2 border border-5" alt="...">
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">The Nap Ministry's Rest Deck: 50 Practices to Resist Grind Culture</h5>
								<p class="card-text">Tricia Hersey</p>
								<a href="#" class="btn btn-primary">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col book-card">
				<div class="card mx-auto mb-4 border-0">
					<div class="row">
						<img src="{% static 'images/Covers/9780751565355.jpg' %}" class="card-img-top mx-auto my-2 border border-5" alt="...">
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">Harry Potter and the Cursed Child - Parts I & II : The Official Script Book of the Original West End Production</h5>
								<p class="card-text">J. K. Rowling</p>
								<a href="#" class="btn btn-primary">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col book-card">
				<div class="card mx-auto mb-4 border-0">
					<div class="row">
						<img src="{% static 'images/Covers/9781471156267.jpg' %}" class="card-img-top mx-auto my-2 border border-5" alt="...">
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">t Ends With Us: The most heartbreaking novel you'll ever read : The most heartbreaking novel you'll ever read</h5>
								<p class="card-text">Colleen Hoover</p>
								<a href="#" class="btn btn-primary">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col book-card">
				<div class="card mx-auto mb-4 border-0">
					<div class="row">
						<img src="{% static 'images/Covers/9780712670579.jpg' %}" class="card-img-top mx-auto my-2 border border-5" alt="...">
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">The Original Rider Waite Tarot Deck : 78 beautifully illustrated cards and instructional booklet</h5>
								<p class="card-text">A.E. Waite , Illustrated by  Pamela Colman Smith</p>
								<a href="#" class="btn btn-primary">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col book-card">
				<div class="card mx-auto mb-4 border-0">
					<div class="row">
						<img src="{% static 'images/Covers/123345u234y5972.png' %}" class="card-img-top mx-auto my-2 border border-5" alt="...">
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">The Nap Ministry's Rest Deck: 50 Practices to Resist Grind Culture</h5>
								<p class="card-text">Tricia Hersey</p>
								<a href="#" class="btn btn-primary">Add to cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}