{% extends 'base.html' %}
{% load static %}

{% block head_content %}
	<link href="{% static 'css/search-category.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/price-slider.css' %}" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
	<title>Category</title>
{% endblock head_content %}

{% block content %}
	<div class="w-lg-75 container-fluid" id="main-cont">
		<div class="ms-5 mt-5">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item link"><a class="link-offset-2 link-dark" href="#">Category</a></li>
					<li class="breadcrumb-item active" aria-current="page">Fiction</li>
				</ol>
			</nav>
		</div>
		<div class="row mt-5">
			<div class="col-lg-3 navbar-expand-lg" id="filters">
				<button class="navbar-toggler btn my-4" type="button" data-bs-toggle="collapse" data-bs-target="#filters-collapse" aria-expanded="false" aria-controls="filters-collapse">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
						<path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
					</svg>
				</button>
				<div class="collapse navbar-collapse mt-lg-5 mb-5" id="filters-collapse">
					<div class="container-fluid py-5 px-3" id="filters-cont">
						<ul class="list-group list-group-flush ms-2">
							<h5>{{ category }}</h5>
							{% for descendant in category_descendants %}
							<li class="list-group-item"><a class="link-dark link-underline-opacity-0"" href="{% url 'search-category' category=descendant %}">{{ descendant }}</a></li>
							{% endfor %}
						</ul>
						<form action="#">
							<div class="wrapper">
								<div class="price-input">
									<div class="field">
										<span class="min">Min</span>
										<input type="number" class="input-min" value="0">
									</div>
									<div class="separator">-</div>

									<div class="field">
										<span class="max">Max</span>
										<input type="number" class="input-max" value="10000">
									</div>
								</div>
								<div class="slider">
									<div class="progress">
									</div>
								</div>
								<div class="range-input">
									<input type="range" class="range-min" min=0 max="10000" value="0" step="100">
									<input type="range" class="range-max" min=0 max="10000" value="10000" step="100">
								</div>
							</div>
							<div class="text-center">
								<button type="submit" id="submit-filter" class="btn btn-outline-primary my-5 rounded-3">Search</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col items">
				<div class="me-5 mb-5">
					<form id="sort-by" action="{% url 'home' %}">
						<select class="form-select" aria-label="Default select example" onchange='if(this.value != 0) { this.form.submit(); }'>
							<option value="bestsellers" selected>Bestsellers</option>
							<option value="price-asc">Price (high to low)</option>
							<option value="price-desc">Price (low to high)</option>
							<option value="date-asc">Publication Date (old to new)</option>
							<option value="date-desc">Publication Date (new to old)</option>
						</select>
					</form>
				</div>

				<div class="container-fluid bestsellers-grid pt-5 w-100">
					<div class="row mx-auto">
						{% for book in books %}
						<div class="col book-card">
							<div class="card mx-auto mb-4 border-0">
								<div class="row">
									<img src="{% static book.cover.url %}" class="card-img-top mx-auto my-2 border border-5" alt="...">
									<div class="col">
										<div class="card-body text-center mt-lg-2 mt-4">
											<h5 class="card-title"><a href="#">{{book.title}}</a></h5>
											<p class="card-text">
												<a href="#">{% for author in book.author.all %}{{ author }}{% endfor %}</a>
											</p>
											<p class="book-type">{{ book.type }}</p>
											<p class="price ms-3 fs-4">{{ book.price }} €</p>
											<a href="#" class="btn btn-primary">Add to cart</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock content %}

{% block js_connect %}
	<script src="{% static 'js/price-slider.js' %}"></script>
{% endblock js_connect %}