{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<link href="{% static 'css/sign-up.css' %}" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
{% endblock head_content %}

{% block content %}
<h2 class="text-center pt-5 mb-3" id="h2-sign-up">New Account</h2>
<div class="container-fluid pt-5 pb-5" id="sign-up-container">
	<div class="mx-auto">
		<form action="{% url 'sign-up' %}" method="POST">
			<div class="mb-3 mx-3">
				<label for="username-input" class="form-label">Username</label>
				{{form.username}}
			</div>
			<div class="row">
				<div class="col mb-3 mx-3">
					<label for="fname-input" class="form-label">First name</label>
					{{form.first_name}}
				</div>
				<div class="col mb-3 mx-3">
					<label for="scname-input" class="form-label">Second name</label>
					{{form.last_name}}
				</div>
			</div>
			<div class="mb-3 mx-3">
				<label for="email-input" class="form-label">Email</label>
				{{form.email}}
			</div>
			<div class="mb-3 mx-3">
				<label for="password-input" class="form-label">Password</label>
				{{form.password1}}
			</div>
			<div class="mb-3 mx-3">
				<label for="password-input" class="form-label">Confirm Password</label>
				{{form.password2}}
			</div>
			<!--
			<div class="row">
				<div class="col-1">
					<input class="ms-3 form-check-input" type="checkbox" value="" id="flexCheckDefault">
				</div>
				<p class="col">
					By creating an account, you agree to <a href="#">INQshop’s Privacy Notice</a> and <a href="#">Terms of Use.</a>
				</p>
			</div>
			-->
			<div class="mx-5 mt-5">
				<button id="sign-up-button" type="submit" class="btn rounded-5 btn-outline-success">Sign-up</button>
			</div>
			{% csrf_token %}
		</form>

		{% for message in messages %}
			{% if message.tags == 'success' %}
				<p class="message bg-success text-center border-3 rounded-1 mt-3 text-white">{{message}}</p>
			{% elif message.tags == 'error' %}
				<p class="message alert alert-danger text-center border-0 rounded-1 mt-4 mx-3">{{message}}</p>
			{% endif %}
		{% endfor %}
		<p class="mt-5 text-center">Already have an account? <a href="{% url 'login' %}">Login</a></p>
	</div>
	<script>
		var form_fields = document.getElementsByTagName('input');
		form_fields[1].placeholder='Username';
		form_fields[2].placeholder='First Name';
		form_fields[3].placeholder='Second Name';
		form_fields[4].placeholder='E-mail';
		form_fields[5].placeholder='Password';
		form_fields[6].placeholder='Re-Enter Password';

		for (let field = 1; field < 7; field++){
			form_fields[field].className += ' form-control'
		}
	</script>
</div>
{% endblock content %}